<div>
  <input [(ngModel)]="mainDirectory" (change)="getPathsFromMainDirectory()" type="text">
  <br>
  <!-- <button (click)="getPaths()">Save Paths</button>
  <button (click)="loadData()">Get Paths</button> -->


  <div *ngIf="isLoad; else loadedData">
    <div *ngFor="let paths of pathsMainDirectory[0];">
      <app-dir (onChanged)="paths" (evem)="choisePaths($event)" [paths]="paths"> </app-dir>
    </div>
    <div *ngFor="let path of pathsMainDirectory[1];">
      <app-file [path]="path"></app-file>
    </div>
  </div>

  <ng-template #loadedData>
    
    <div *ngFor="let files of dataToShow; trackBy: trackByFn">
      {{ files.join("") }}
    </div>

  </ng-template>
</div>