<div>
  <input [(ngModel)]="mainDirectory" (change)="getPathsFromMainDirectory()" type="text">
  <br>
  <!-- <button (click)="getPaths()">Save Paths</button>
  <button (click)="loadData()">Get Paths</button> -->


  <div *ngIf="isLoad; else loadedData">
    <div *ngFor="let paths of pathsMainDirectory;">
      <app-saver (onChanged)="paths" (evem)="choisePaths($event)" [paths]="paths"> </app-saver>
    </div>
  </div>

  <ng-template #loadedData>
    
    <div *ngFor="let files of dataToShow; trackBy: trackByFn">
      {{ files.join("") }}
    </div>

  </ng-template>
</div>