<div>
  <input [(ngModel)]="mainDirectory" (change)="getPathsFromMainDirectory()" type="text">
  <input [(ngModel)]="seacrhWord" (change)="searchSaver()" type="text">
  <br>
  <button (click)="getPaths()">Save Paths</button>
  <button (click)="loadData()">Get Paths</button>
  <div>
    @if (isLoad) {
      @for (path of pathsMainDirectory[0]; track $index) {
        <app-dir (onChanged)="path" (evem)="choisePaths($event)" [path]="path"> </app-dir>
      }

      @for (path of pathsMainDirectory[1]; track $index) {
        <app-file [path]="path"> </app-file>
      }
    }
    @else {
        @for (files of dataToShow; track $index) {
          <div>{{ files.join("") }}</div>
        }
    }
  </div>
</div>